<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geniye.wordit.db.mappers.ArticleMapper">
  <resultMap id="authorResultMap" type="com.geniye.wordit.core.models.Author">
    <id column="author_id" property="id" />
    <result column="author_username" property="username" />
    <result column="author_bio" property="bio" />
    <result column="author_image" property="image" />
    <result column="author_following" property="following" />
  </resultMap>

  <resultMap id="articleResultMap" type="com.geniye.wordit.core.models.Article">
    <id column="id" property="id" />
    <result column="slug" property="slug" />
    <result column="title" property="title" />
    <result column="description" property="description" />
    <result column="body" property="body" />
    <result column="createdAt" property="createdAt" />
    <result column="updatedAt" property="updatedAt" />
    <result column="slug" property="slug" />
    <result column="favorites_count" property="favoritesCount" />
    <result column="favorited" property="favorited" />
    <association property="author" resultMap="authorResultMap" />
  </resultMap>

  <select id="getArticles" resultMap="articleResultMap">
    with selected_articles as (
    select
    articles.id as id,
    articles.slug as slug,
    articles.title as title,
    articles.description as description,
    articles.body as body,
    articles.created_at as createdAt,
    articles.updated_at as updatedAt,
    users.id as author_id,
    users.username as author_username,
    users.bio as author_bio,
    users.image as author_image,
    (follower_id is not null) as author_following
    from articles
    inner join users on articles.user_id = users.id
    left join follows on users.id = follows.followee_id and follows.follower_id = #{currentUser}
    <where>
      <if test="slug != null">
        articles.slug = #{slug}
      </if>
      <if test="id != null">
        articles.id = #{id}
      </if>
      <if test="author != null">
        articles.user_id = (select id from users where username = #{author})
      </if>
      <if test="favoritedBy != null">
        articles.id in (
          select af.article_id
          from article_favorites af
          inner join users on users.id = af.user_id
          where users.username = #{favoritedBy}
        )
      </if>
      <if test="feed and currentUser != null">
        follower_id is not null
      </if>
    </where>),
    currentUserFavorites as (
    select article_id from article_favorites where user_id = #{currentUser})

    select sa.*, count(af.user_id) as favorites_count, (sa.id in (select * from currentUserFavorites)) as favorited
    from selected_articles sa
    left join article_favorites af on sa.id = af.article_id
    group by sa.id
  </select>

  <select id="getArticles_funkyAndNotInUse" resultMap="articleResultMap">
    select
    articles.id as id,
    articles.slug as slug,
    articles.title as title,
    articles.description as description,
    articles.body as body,
    articles.created_at as createdAt,
    articles.updated_at as updatedAt,
    users.id as author_id,
    users.username as author_username,
    (users.id in (
      select
      followee_id
      from follows
      left join users on follows.follower_id = users.id
      where users.username = #{currentUser}
    )) as author_following
    from articles
    inner join users on articles.user_id = users.id
    <where>
      <if test="slug != null">
        articles.slug = #{slug}
      </if>
    </where>
  </select>

  <insert id="createArticle" useGeneratedKeys="true" keyProperty="article.id" keyColumn="id">
    insert into articles (slug, title, description, body, user_id)
    values (#{article.slug}, #{article.title}, #{article.description}, #{article.body}, #{currentUser})
  </insert>

  <update id="updateArticle">
    update articles set
      title = #{article.title},
      description = #{article.description},
      body = #{article.body}
    where id = #{article.id} and user_id = #{currentUser}
  </update>

  <delete id="deleteArticle">
    delete from articles
    where slug = #{slug} and user_id = #{currentUser}
  </delete>

  <insert id="favoriteArticle">
    insert into article_favorites values((select id from articles where slug = #{slug}), #{currentUser})
  </insert>

  <delete id="unfavoriteArticle">
    delete from article_favorites
    where article_id = (select id from articles where slug = #{slug}) and user_id = #{currentUser}
  </delete>
</mapper>
